/* body {
  margin: 0;
}

.banner {
  height: 126px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  height: 180px;
  background-color: #fff;
}
.menutrai {
  display: flex;
  flex-direction: row;
  width: 270px;
}

.menubar {
  background-color: #b22d30;
  height: 52px;
}

#menutrai {
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
}

#menutrai ul {
  margin-right: 10px;
}

#menutrai ul li {
  list-style-type: none;
  margin-left: 10px;
  max-width: 80px;
}

a.menutrai:link,
a.menutrai:visited {
  color: #b22d30;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

a.menutrai:visited {
  font-weight: 700;
}

a.menutrai:hover {
  color: #5426d1;
  font-family: "Times New Roman", Times, serif;
}

a.menutrai:active {
  color: #190c3f;
  font-family: "Times New Roman", Times, serif;
}

.menubar {
  background-color: #b22d30;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}

#menutrai {
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
}

#menutrai ul {
  margin-right: 10px;
}

#menutrai ul li {
  list-style-type: none;
  margin-left: 10px;
  max-width: 80px;
}

a.menutrai:link,
a.menutrai:visited {
  color: #b22d30;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

a.menutrai:visited {
  font-weight: 700;
}

a.menutrai:hover {
  color: #5426d1;
  font-family: "Times New Roman", Times, serif;
}

a.menutrai:active {
  color: #190c3f;
  font-family: "Times New Roman", Times, serif;
} */

/***********************Phần Thông tin Login trên công cụ*************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  padding: 6px 30px;
  background-color: rgb(194, 224, 226);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 60px;
  height: 60px;
}
.header .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header .menu {
  display: flex;
  width: 360px;
  justify-content: space-around;
}
.header .menu a {
  color: #b22d30;
  font-weight: 600;
}
.header .menu a:hover {
  color: #fa0707;
}
.header .search input {
  width: 250px;
  border: 1px solid #b22d30;
  border-radius: 5px;
  padding: 6px 20px;
}
.header .search button {
  color: #b22d30;
  font-weight: 500;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #b22d30;
}
.header .auth-right {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .auth-right .username {
  color: #b22d30;
  font-size: 18px;
}
.header .auth-right .login-link,
.logout-btn {
  background: #b22d30;
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  border-radius: 8px;
  border: none;
}
.header .auth-right .login-link:hover,
.logout-btn:hover {
  background: #ffffff;
  color: #b22d30;
  border: 1px solid #b22d30;
}
.body-main {
  margin-top: 90px;
}
